In [2]:
import pandas as pd
import numpy as np
import os

In [4]:
df = pd.read_csv("../data/raw_data/sentences.csv")
df.sample(10)

                                               sentence
1398  وخالد اليوم متزوج من باكستانية مسلمة رزق منها ...
2856  وقال السفير الامريكي جون بولتون الذي دعم النص ...
572   لم تثن الحرارة المفرطة التي تعرفها مراكش هذه ا...
4640                                    فعوداً حميداً .
632   ووصلت النمسا الى قناعة الهجوم على صربيا كضربة ...
3802  وكانت المراحل الثلاث السابقة تمثلت في تكليف إي...
3058  واضاف كينيون « لديا مدير فني يتمتع بخبرة عظيمة...
1846  وكان الاقبال على الفيلم لافتاً ، خاصة من السيا...
2142  وننزل من قمة الأثرياء إلى قاع الفقراء ، إلى قر...
1772  وقال مسؤولون في شركات طيران الامارات والعربية ...